<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Console appender for test output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- File appender for detailed test logs -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-logs/atomic-tests.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Atomic testing framework logger -->
    <logger name="com.tripplanner.testing" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    
    <!-- Application loggers -->
    <logger name="com.tripplanner" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    
    <!-- Spring framework loggers -->
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- JUnit loggers -->
    <logger name="org.junit" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Mockito loggers -->
    <logger name="org.mockito" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Root logger -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
    
</configuration>